

<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        
            <div fxFlex="80">
                <h1>Pending resource allocation and deallocation requests</h1>
                <div class="mat-elevation-z8">
                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                    <table mat-table [dataSource]="dataSource">
          
                       
                        <ng-container matColumnDef="emp_no">
                            <th mat-header-cell *matHeaderCellDef> Employee </th>
                            <td mat-cell *matCellDef="let element"> {{element.emp_no}} </td>
                        </ng-container>
          
                       
                        <ng-container matColumnDef="req_madeby">
                            <th mat-header-cell *matHeaderCellDef> Raised By </th>
                            <td mat-cell *matCellDef="let element"> {{element.req_madeby}} </td>
                        </ng-container>
          
                        
                        <ng-container matColumnDef="req_type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let element"> {{element.req_type}} </td>
                        </ng-container>
          
                      
                        <ng-container matColumnDef="req_dept">
                            <th mat-header-cell *matHeaderCellDef> Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.req_dept}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action</th>
                            <td mat-cell *matCellDef="let element">
    
                                <mat-icon (click)="action(element.req_id,'approve')">verified_user</mat-icon>
                                <mat-icon (click)="action(element.req_id,'reject')">clear</mat-icon>
                            </td>
                        </ng-container>
          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
          
                    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                    </mat-paginator>
                    <!-- <button mat-mini-fab color="primary" aria-label="refresh">
                        <mat-icon (click)="refresh()">refresh</mat-icon>
                      </button> -->
                </div>
          
            </div>
            <!-- <div fxFlex="40">
                <app-widget-pie [data]="pieChart"></app-widget-pie>
            </div> -->
          
        
    </mat-grid-tile>
    <mat-grid-tile >
        
        <!-- <div *ngFor="let department of departments">
            <h3>{{department.department}} :</h3><h3>{{department.employees}}</h3> <br> <br>
            
        </div> -->


        <!-- <div >
            <h1>Current allocation status across departments</h1>
        <mat-list role="list" >
           
        <mat-list-item class="mat-elevation-z8" *ngFor="let department of departments">
        {{department.department}} : {{department.employees}}
         </mat-list-item>
           
          </mat-list>

        </div> -->

    </mat-grid-tile>
  </mat-grid-list>
  
