<body ng-app="myModule">       
  <div ng-controller="myCtrl"> 
    <form>
<mat-form-field appearance="fill">
  <mat-label>Request ID</mat-label>
  <input  matInput [(ngModel)]="req_id">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Manager ID</mat-label>
  <input matInput [(ngModel)]="manager_id">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Request Type</mat-label>
  <mat-select value="selected" [(ngModel)]="req_type">
    <mat-option value="one">Allocation</mat-option>
    <mat-option value="two">Deallocation</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Requested Department</mat-label>
  <input matInput [(ngModel)]="req_dept">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Requested Job Title</mat-label>
  <input matInput [(ngModel)]="req_job_title">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label >Requested Employee ID</mat-label>
  <input matInput [(ngModel)]="req_emp">
</mat-form-field>
<div class="col-md-12">
  <button class="btn btn-success" (click)="submitform()">
    Submit Request
  </button>
</div>
</form>
</div>
</body>
<!-- <script>
  var app = angular.module("myModule", []).controller("myCtrl", function($scope){
    console.log($scope.empid);
  });
</script> -->


 <!-- <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput [(ngModel)]="managerid">
</mat-form-field>
{{managerid}}
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<button class="btn btn-success" (click)="submitform()">
 Submit Request
</button> -->