<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Nibble project toolbar icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Team Nibble</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu icon button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>badge</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <a href="/logout">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>